/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 @font-face {
  font-family: "Monomakh Unicode";
  src: url(../fonts/MonomakhUnicode.eot);
  src: url(../fonts/MonomakhUnicode.eot?#iefix) format("embedded-opentype"),
    url(../fonts/MonomakhUnicode.woff2) format("woff2"),
    url(../fonts/MonomakhUnicode.woff) format("woff"),
    url(../fonts/MonomakhUnicode.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

#sia-dictionar h1 {
  color: #ff0000;
  text-align: center;
  margin-top: 20;
  margin-bottom: 2;
  font-size: 16pt;
  font-family: "Monomakh Unicode" !important;
  font-weight: normal;
}
#sia-dictionar h2 {
  font-size: 16pt;
  color: #ff0000;
  text-align: center;
  font-family: "Monomakh Unicode" !important;
  margin-top: 25px;
  margin-bottom: 5px;
}
#sia-dictionar h3 {
  font-size: 21pt;
  color: #ff0000 !important;
  text-align: center;
  font-family: "Monomakh Unicode" !important;
  margin-top: 20px;
  margin-bottom: 2px;
}
#sia-dictionar h3 a {
  color: #ff0000 !important;
}

#sia-dictionar h4 {
  font-size: 14pt;
  color: #ff0000;
  text-align: left;
  font-family: "Times New Roman", Times, "Arial", Arial, serif;
  font-weight: normal;
  margin-top: 10;
  margin-bottom: 0;
  margin-left: 20;
}
#sia-dictionar h5 {
  font-size: 11pt;
  color: #ff0000;
  text-align: left;
  font-family: "Arial", Arial, "Times New Roman", Times, serif;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: normal;
}
#sia-dictionar h6 {
  font-size: 14pt;
  color: green;
  text-align: center;
  font-family: "Times New Roman", Times, "Arial", Arial, serif;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 5px;
}
#sia-dictionar hr {
  color: #d2be8f;
  height: 1px;
}
#sia-dictionar p {
  margin-bottom: 4px;
  margin-top: 0;
  text-align: justify;
  font-size: inherit;
  font-family: "Arial", Arial, "Times New Roman", Times, serif;
}

#sia-dictionar .descr {
  font-weight: normal;
  font-size: inherit;
  color: #0000cc;
  font-family: cursive;
}


#sia-dictionar .oglavlenie {
  text-align: center;
}

#sia-dictionar p:first-letter {
  font-family:"Times New Roman", Times, serif; 
  color:#f36;
  font-size:140%; 
  font-weight:bold
}
