#chdc-form {
  background: #72aee614;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.chdc-attention_admin {
  display: block;
  width: 30%;
  padding: 1.5em;
  border-radius: 5px;
  background-color: rgba(243, 177, 177, 0.2);
  box-shadow: 0 0 1px 3px rgb(0 0 0 / 4%);
  color: black;
  margin-top: -40%;
  float: right;
}

.sia-chdc .chdc-attention_admin_succ {
  display: block;
  width: 55%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(67 241 140 / 11%);
  box-shadow: 0 0 1px 3px rgb(0 0 0 / 4%);
  color: black;
  top: 15px;
  left: -5px;
  position: relative;
}

.sia-chdc .chdc-attention_admin_del {
  display: block;
  width: 487px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(75, 119, 241, 0.2);
  box-shadow: 0 0 1px 3px rgb(0 0 0 / 4%);
  color: black;
  top: 15px;
  left: -5px;
  position: relative;
}

.sia-chdc .c-button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 5px 15px;
  font-size: inherit;
  cursor: pointer;
  margin-top: 10px;
}

.sia-chdc .c-button:hover {
  background: #1d49aa;
}

.sia-chdc .c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.sia-chdc .checkbox {
  display: inline-block;
  padding: 5px 5px 5px 56px;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.sia-chdc .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: inherit;
}
.sia-chdc .checkbox span {
  display: inline-block;
  font: normal 12px/16px Arial;
  padding: 4px 0;
}
.sia-chdc .checkbox span:before,
.sia-chdc .checkbox span:after {
  content: "";
  position: absolute;
  top: 50%;
  transition: 0.3s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sia-chdc .checkbox span:before {
  left: 0;
  height: 24px;
  margin-top: -12px;
  width: 46px;
  border-radius: 12px;
  background: #ddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
.sia-chdc .checkbox span:after {
  left: 1px;
  height: 22px;
  width: 22px;
  margin-top: -11px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.sia-chdc .checkbox input:checked + span:before {
  background-color: #4caf50;
}
.sia-chdc .checkbox input:checked + span:after {
  left: 23px;
}

.sia-chdc .checkbox input:focus + span:before {
  box-shadow: 0 0 0 3px rgba(50, 150, 255, 0.2);
}

.sia-chdc .checkbox input:disabled + span {
  opacity: 0.35;
}
.sia-chdc .checkbox input:disabled + span:before {
  background: #ddd;
}

.sia-chdc .form-group {
  position: relative;
  padding-top: 1.5rem;
}

.sia-chdc input[type="checkbox"] label {
  position: absolute;
  top: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.sia-chdc input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
}

.sia-chdc input[type="text"] {
  padding: 7px;
  margin: 3px 0;
  box-shadow: 0 0 1px 3px rgb(0 0 0 / 4%);
  border-radius: 3px;
}

.sia-chdc input[type="radio"] + label:before {
  /* content: "\26AB"; */
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #000;
  font-size: 20px;
  line-height: 20px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
  transition: font-size ease 0.3s;
}
.sia-chdc input[type="radio"]:checked + label:before {
  font-size: 20px;
}

.sia-chdc .form_radio_btn {
  display: inline-block;
  margin-right: 10px;
}
.sia-chdc .form_radio_btn input[type="radio"] {
  display: none;
}
.sia-chdc .form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
  font-size: 13px;
}

/* Checked */
.sia-chdc .form_radio_btn input[type="radio"]:checked + label {
  background: #ffe0a6;
}

/* Hover */
.sia-chdc .form_radio_btn label:hover {
  color: #666;
}

/* Disabled */
.sia-chdc .form_radio_btn input[type="radio"]:disabled + label {
  background: #efefef;
  color: #666;
}

.sia-chdc-delete .checkbox {
  display: inline-block;
  padding: 5px 5px 5px 56px;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.sia-chdc-delete .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: inherit;
}
.sia-chdc-delete .checkbox span {
  display: inline-block;
  font: normal 12px/16px Arial;
  padding: 4px 0;
}
.sia-chdc-delete .checkbox span:before,
.sia-chdc-delete .checkbox span:after {
  content: "";
  position: absolute;
  top: 50%;
  transition: 0.3s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sia-chdc-delete .checkbox span:before {
  left: 0;
  height: 24px;
  margin-top: -12px;
  width: 46px;
  border-radius: 12px;
  background: #ddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
.sia-chdc-delete .checkbox span:after {
  left: 1px;
  height: 22px;
  width: 22px;
  margin-top: -11px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.sia-chdc-delete .checkbox input:checked + span:before {
  background-color: #ff0000;
}
.sia-chdc-delete .checkbox input:checked + span:after {
  left: 23px;
}

.sia-chdc-delete .checkbox input:focus + span:before {
  box-shadow: 0 0 0 3px rgba(50, 150, 255, 0.2);
}

.sia-chdc-delete .checkbox input:disabled + span {
  opacity: 0.35;
}
.sia-chdc-delete .checkbox input:disabled + span:before {
  background: #ddd;
}

.sia-chdc-delete .form-group {
  position: relative;
  padding-top: 1.5rem;
}

.sia-chdc-delete input[type="checkbox"] label {
  position: absolute;
  top: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.sia-chdc .iconq {
  text-decoration: none;
}
.sia-chdc .iconq span {
  border: 1px solid #2271b1;
  border-radius: 50%;
  overflow: hidden;
  font-weight: 600;
  font-size: 14px;
  padding: 0 7px;
  margin: 0 8px 0 0;
}
.chdc-imgmy {
  width: 60px;
  border-radius: 5px;
  margin-top: 15px;
}
* {
  box-sizing: border-box;
}
#chdc-rightbl {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}
#chdc-rightbl > div {
  width: 32%;
  margin: 0px;
  padding: 2px;
}
#chdc-rightbl > div:nth-of-type(1) {
  width: 100%;
  padding-bottom: 5px;
}
#chdc-rightbl > div:nth-of-type(3) {
  width: 67%;
}

